#TensorBoard Logs
*logs/

#Raw Data
/data/*.atr
/data/*.hea
/data/*.dat

#Processed Data
/compressedDataFull/*.pickle
/compressedDataBinary/*.pickle
/compressedDataFull/*.npy
/compressedDataBinary/*.npy