#TensorBoard Logs
*logs/

#Raw Data
/rawData/MIT/*.atr
/rawData/MIT/*.hea
/rawData/MIT/*.dat

#Processed Data
data
/processedData/MIT/*.pickle
/processedData/MIT/*.npy

#Binary Prototype
/binaryPrototype/processedData/*.pickle
/binaryPrototype/processedData/*.npy